@using Bug_Tracker.Models
@model DashboardViewModels

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@if (Model.ProjectUsers.Count == 0 && Model.Tickets.Count == 0)
{
    <h3>Nothing to display.</h3>
}
else if (Model.ProjectUsers.Count > 1)
{
    <ul>
        @foreach (var item in Model.ProjectUsers)
        {
            <li>@item.Project.Name</li>
        }
    </ul>
}
else if (Model.Tickets.Count > 1)
{
    <ul>
        @foreach (var item in Model.Tickets)
        {
            <li>@item.Description</li>
        }
    </ul>
}