@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><i class="fas fa-bug"></i> Bug Tracker</h1>
    <p class="lead">This web application is meant to be used for tracking bugs accross multiple projects. These bugs can be submitted as tickets, then assigne to developers. Progress on tickets can be supervised by project managers and admins.</p>
    <input class="btn btn-primary btn-lg" type="submit" value="DEMO &raquo;"/>
</div>