@model List<Bug_Tracker.Models.ApplicationUser>
@{
    ViewBag.Title = "ChangeUserRole";
}

<h2>Change User Roles</h2>

@if (Model.Count == 0)
{
    <h3>No users to display.</h3>
}

@using (Html.BeginForm())
{
    <table class="table-striped">

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@Html.DropDownList("Roles")</td>
                <td>@Html.ActionLink("Add to Role", "AddToRole", new { id = user.Id }, new { @class = "btn btn-primary" })</td>
                <td><input type="submit" value="Add To Role" class="btn btn-default" /></td>
                <td>@Html.ActionLink("Remove All Roles", "RemoveRoles", null, new { @class = "btn btn-danger" })</td>
            </tr>
        }

    </table>
}