@model List<Bug_Tracker.Models.ApplicationUser>
@{
    ViewBag.Title = "ChangeUserRole";
}

<h2>Change User Roles</h2>

@if (Model.Count == 0)
{
    <h3>No users to display.</h3>
}

<table class="table table-striped">

    <thead>
        <tr>
            <th>User</th>
            <th>Select a Role</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                @using (Html.BeginForm("ChangeUserRole", "Manage", new { userId = user.Id }))
                {
                    <td>@Html.DropDownList("RoleId")</td>
                    <td><input type="submit" value="Add To Role" class="btn btn-default" /></td>
                }
                <td>@Html.ActionLink("Remove Roles", "RemoveRoles", new { userId = user.Id }, new { @class = "btn btn-danger" })</td>
            </tr>
        }

    </tbody>
</table>