@model List<Bug_Tracker.Models.Project>
@using Microsoft.AspNet.Identity;
@using Bug_Tracker.BL;
@{
    ViewBag.Title = "All Projects";
}

<h2>All Projects</h2>

@if (Model.Count == 0)
{
    <h3>Nothing to display.</h3>
}

@foreach (var project in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 style="text-align: center">@Html.ActionLink(project.Name, "Details", new { id = project.Id })</h3>
        </div>
        <div class="panel-body">
            @{
                var projectUser = project.ProjectUsers.FirstOrDefault(pu => pu.UserId == User.Identity.GetUserId());
                if (UserService.UserInRole(User.Identity.GetUserId(), "manager") && projectUser == null)
                {
                    <div style="text-align: center">You are not a manager on this project.</div>
                }
                else if (project.Tickets.Count != 0)
                {
                    <h4 style="margin-bottom: 20px;">Recently Updated Tickets</h4>
                }
            }
            <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly">

                @{
                    if (project.Tickets.Count == 0)
                    {
                        <div> No tickets to display.</div>
                    }
                    else if (projectUser != null || UserService.UserInRole(User.Identity.GetUserId(), "admin"))
                    {
                        foreach (var ticket in project.Tickets.OrderByDescending(t => t.Updated).Take(4))
                        {
                            <div class="panel panel-default" style="width: 47%">
                                <div class="panel-heading">@Html.ActionLink(ticket.Title, "Details", "Tickets", new { id = ticket.Id }, null)<span class="pull-right">@ticket.Created.ToShortDateString()</span></div>
                                <div class="panel-body">@(ticket.Description.Length > 50 ? ticket.Description.Substring(0, 47) + "..." : ticket.Description)</div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
}