@model IEnumerable<Bug_Tracker.Models.Project>
@{
    ViewBag.Title = "All Projects";
}

<h2>All Projects</h2>

@foreach (var project in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@project.Name</div>
        <div class="panel-body">
            <div>
                @foreach (var ticket in project.Tickets)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">@ticket.Title<span class="pull-right">@ticket.Created.ToShortDateString()</span></div>
                        <div class="panel-body">@(ticket.Description.Length > 50 ? ticket.Description.Substring(0, 47) + "..." : ticket.Description)</div>
                    </div>
                }
            </div>
        </div>
    </div>
}