@model IEnumerable<Bug_Tracker.Models.Project>
@using Microsoft.AspNet.Identity;
@using Bug_Tracker.BL;
@{
    ViewBag.Title = "Your Projects";
}

<h2>Your Projects</h2>
@if (UserService.UserInRole(User.Identity.GetUserId(), "manager"))
{
    @Html.ActionLink("All Projects", "AllProjects", null, new { @class = "btn btn-primary", style = "margin-bottom: 20px" })
}

<ul class="list-group">
    @foreach (var project in Model)
    {
        <li class="list-group-item">@project.Name</li>
    }
</ul>