@model IEnumerable<Bug_Tracker.Models.Project>
@using Microsoft.AspNet.Identity;
@using Bug_Tracker.BL;
@{
    ViewBag.Title = "Your Projects";
}

<h2>
    Your Projects
    @if (UserService.UserInRole(User.Identity.GetUserId(), "manager"))
    {
    <span class="pull-right">@Html.ActionLink("All Projects", "AllProjects", null, new { @class = "btn btn-primary" })</span>       
    }
</h2>


<ul class="list-group">
    @foreach (var project in Model)
    {
        <li class="list-group-item">@project.Name</li>
    }
</ul>